@charset "utf-8";
.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}
.bgPrimary {
    background-color: #FFFFFF;
}
#header {
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}

#main1 {
	width: 645px;
	float: left;
	padding-left: 5px;
	margin-left: 5px;
}
#main2 {
	float: right;
	width: 330px;
	padding-left: 5px;
	margin-right: 5px;
}
.footer {
    padding: 10px;
    margin-top: 20px;
}
/*
.navbar li {
	display: inline-block;
	float: left;
	padding-right: 0px;
	font-size: 16px;
	padding-left: 0px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/
#form1 {
	text-align: center;
}
.banner  {
	font-size: 40px;
}



.navSearch {
	width: 174px;
}

.headerWords {
    width: 58%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.headerImage {
    width: 16%;
    display: inline-block;
}

.loginForm {
    width: 25%;
    float: right;
    display: inline-block;
    text-align: center;
}

.input {
    margin-bottom: 5px;
    display:block; 
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.Navbar {
    background-color: #FFFFFF;
}

.navbar ul li a{
    display: inline-block;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14pt;
}
.navbar ul li{
    display: inline;
    text-align: center;
}
.navbar ul{
    padding: 0px;
    margin: 0px;
}
.navbar {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: inherit;
}
.navbar ul li a:hover, .navbar ul li a:active {
    background-color: #444444;
    color: #FFFFFF;
}
.navbarSelected {
	background-color: #444444;
    color: #FFFFFF;
}
.navbar ul li a {
    text-decoration: none;   
    color: #FFFFFF;
}
.bg-navbar {
    background-color: #AAAAAA;
}

.mainContent {
	padding: 10px;
}
.sideContent {
	width: 33%;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	float: right;
}

.allContent {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    display:table;
    
}
.notice_image {
    width: 120px;
    height: auto;
    border: 3px solid black;
    display: inline-block;
}
.notice_group {
    display: inline-block;
}
.notice_group p {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 800px;
}
.notice_group .edit_controls {
    width: 120px;
    text-align: center;
}
.notice_group img {
    display: inline-block;
    margin-top: 10px;
}

.event_image {
    width: 120px;
    height: auto;
    border: 3px solid black;
    display: inline-block;
    margin-top: 10px;
}
.event_group {
    display: inline-block;
}
.event_group .event_title {
    margin-top: 10px;
    margin-bottom: 10px;
}
.event_group .event_description {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 800px;
}
.event_group .event_controls {
    width: 120px;
    text-align: center;
}

.artist_image {
    width: 120px;
    height: auto;
    border: 3px solid black;
    display: inline-block;
    margin-top: 10px;
}
.artist_group {
    display: inline-block;
}
.artist_group .artist_title {
    margin-top: 10px;
    margin-bottom: 10px;
}
.artist_group .artist_description {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 800px;
}
.artist_group .artist_controls {
    width: 120px;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: 'Open Sans', sans-serif;
}
h3 {
    font-family: 'Open Sans', sans-serif;
}

.error_message {
    background-color: #facccc;
    color: #a94442;
    padding: 15px;
    border-radius: 8px;
}
.success_message{
    background-color: #B4EEB4;
    color: #1F552A;
    padding: 15px;
    border-radius: 8px;
}

.adminControlTable {
	border: 3px solid black;
	border-spacing: 0;
}

.adminControlTable tr:nth-child(odd) {
	background: #AAAAAA;
}

.adminControlTable th {
	background: #000000;
	color: #FFFFFF;
	padding-left: 10px;
}
.adminControlTable td {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}
.text_center {
    text-align: center;
}
body {
    background-color: #f8f8f8;
}

.label {
    text-decoration: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.full_width {
    width: 100%;
}

.no_resize {
    resize: vertical;
}
#clearAll {
	clear: both;
}
.picFloatL {
	float: left;
}

#contact_tagline {
	font-size: 84px;
  word-spacing: 1px;
  line-height: 90px;
  font-family: "neuzeitgrobold",sans-serif;
  text-transform: none;
  letter-spacing: -3px;
  color: #181818;
  text-align:center;
  margin: .95em 0 0;
		
}
.contact_undertagline {
	text-align:center;
	/*color:#BD1A1D;*/
	float: none;
              display: block;
              margin-left: auto;
              margin-right: auto;
}
hr {
	display: block;
  	height: 10px;
  	border: 0;
  	border-top: 1px solid #4183c4;
  	margin: 1em 0;
 	padding: 0;
}
#contact_links {
	/* color:#BD1A1D; */
	padding:0;
	margins:0;
	
}

.styledLink {
	color:#4183C4;
	text-decoration:none;
		
}

.styledLink:hover {
	text-decoration: underline;
}

a , a:visited{
	color:#4183c4;
	text-decoration:none;
}
a:hover, a:focus { 
	color: #4183c4;
	text-decoration: underline;
}

.block {
    display: block;
}