@charset "utf-8";
#wrapper {
	margin-left: auto;
	margin-right: auto;
	background-color: #878787;
	width: 980px;
}
#header {
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}

#main1 {
	width: 645px;
	float: left;
	padding-left: 5px;
	margin-left: 5px;
}
#main2 {
	float: right;
	width: 330px;
	padding-left: 5px;
	margin-right: 5px;
}
#footer {
	float: left;
    width: 100%;
	color: #FFFFFF;
	background-color: #000000;
}
/*
.navbar li {
	display: inline-block;
	float: left;
	padding-right: 0px;
	font-size: 16px;
	padding-left: 0px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/
#form1 {
	text-align: center;
}
.banner  {
	font-size: 40px;
}
#main1 p {
	padding-left: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
}
/*
.navbar a:link, a:visited {
    display: block;
    width: 110px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #AAAAAA;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar a:hover, a:active {
    background-color: #444444;
}
*/
#main2 h1 {
	font-size: 20px;
	font-weight: bold;
	font-family: Tahoma, sans-serif;
}
#main2 p  {
	padding-left: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 12px;
}
#main1 h1 {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	font-size: 30px;
}
.navSearch {
	width: 174px;
}

.headerWords {
    width: 58%;
    display: inline-block;
    text-align: center;
}

.headerImage {
    width: 16%;
    display: inline-block;
}

.loginForm {
    width: 25%;
    float: right;
    display: inline-block;
}

.input {
    margin-bottom: 5px;
}

.Navbar {
    background-color: #FFFFFF;
}

.navbar ul li a{
    display: inline-block;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar ul li{
    display: inline;
    text-align: center;
}
.navbar ul{
    padding: 0px;
    margin: 0px;
}
.navbar {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: inherit;
}
.navbar ul li a:hover, .navbar ul li a:active {
    background-color: #444444;
    color: #ebebeb;
}
.navbar a {
    text-decoration: none;   
    color: #ebebeb;
}
.bg-navbar {
    background-color: #AAAAAA;
}

.mainContent {
    width: 66%;
    display: inline-block;
}

.sideContent {
    width: 33%;
    display: inline-block;
}
